.grids {
display: grid;
grid: auto-flow / 19% auto auto 19%;
grid-template-areas:
  "logo . . ."
  ". cv__name cv__contact cellar"
  ". cv__headline cv__edu-grad cellar"
  ". cv__exp-mofad cv__edu-undergrad cellar"
  ". cv__exp-ppd cv__skills cellar"
  ". case-study case-study cellar"
  ". credits credits credits";
grid-gap: 0px;
}

.logo { grid-area: logo; }
.cv__name { grid-area: cv__name; }
.cv__headline { grid-area: cv__headline; }
.cv__exp-mofad { grid-area: cv__exp-mofad; }
.cv__exp-ppd { grid-area: cv__exp-ppd; }
.cv__contact { grid-area: cv__contact; }
.cv__edu-grad { grid-area: cv__edu-grad; }
.cv__edu-undergrad { grid-area: cv__edu-undergrad; }
.cv__skills { grid-area: cv__skills; }
.case-study { grid-area: case-study; }
.cellar { grid-area: cellar; }
.credits { grid-area: credits; }
