:root{
  --font-display:"canela",serif;
  --font-display-deck:"canela deck",sans-serif;
  --font-display-text:"canela text",serif;
  --font-caption:"aktiv",sans-serif;
  --font-body:"bernina","bernino",sans-serif;
  /* --color-base:#;
  --color-mid:#;
  --color-dim:#; */
  --line-height:calc(1em + .618vw);
  --xxs:.618rem;
  --xs:1rem;
  --s:1.618rem;
  --m:2.618rem;
  --l:4.236rem;
  --xl:6.854rem;
  --xxl:11.089rem;
}

*{
  box-sizing:border-box;
  margin:0;
  margin-block-start:0;
  margin-block-end:0;
  margin-inline-start:0;
  margin-inline-end:0;
  line-height:var(--line-height);
}
html{
  -webkit-font-smoothing:antialiased;
  margin:0 auto;
  /* font-family:"JAF Bernina Sans Regular"; */
}
ol,ul{
  padding:0;
  list-style:none;
}

/* vertical rhythm */
main>section{margin-top:var(--xl)}
footer{margin:var(--xl) 0 var(--l)}
.cv section section+section{margin-top:var(--xs)}
.cv h2,.recipe h2{margin-bottom:var(--m)}
.recipe ul{margin-top:var(--xs)}
/* .cs article section+section{margin-top:var(--l)} */
/* .cs h4{margin-top:var(--m)} */
article{
  margin-top:var(--l);
  grid-row-gap:var(--l);
}
h4+p{margin-top:var(--xs)}
p{margin:var(--xxs) 0}

/* horizontal rhythm */
header{padding:6.854vw 6.854vw 0 0}
.name,.cv,.recipe,footer{padding:0 17.942vw}
.recipe h2{text-align:center}
/* .cs>nav,article>h2{padding:0 11.089vw}
.info,article>section{padding:0 11.089vw 0 17.942vw} */
.cs{padding:0 11.089vw}
article{grid-column-gap:var(--s)}
p.col2{margin-left:50%}

/* layout */
.svg-container{
  position:relative;
  width:100%;
  z-index:-1;
}
svg.flow{
  position:absolute;
  width:100%;
  overflow:visible;
  fill:transparent;
  stroke:pink;
  stroke-width:.3rem;
}
span.dots{display:inline-block}

.logo-container{
  display:flex;
  justify-content:flex-end;
}
svg.logo{
  width:20vw;
  min-width:100px;
}

button.left,button.right{
  position:fixed;
  bottom:1vw;
}
.left{left:1vw}
.right{right:1vw}

.cv i,.edu strong{display:block}
.cv{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:var(--s);
  grid-auto-flow:column;
}
.recipe>ol,.cs nav{
  display:flex;
  justify-content:space-between;
}

article{
  display:grid;
  grid-template-columns:15% auto;
}
.cs h2,.overview{grid-column:1/3}
article>section{grid-column:2/3}
article>h3{grid-column:1/2}

div.rq-container{
  margin:var(--xxs) 0;
  padding-right:60%;
}
div.rq-container p{
  display:inline;
}
div.rq-container strong.rq{
  display:inline-block;
  margin-right:-100%;
  vertical-align:top;
}

/* text */
h1{
  font-weight:500;
  font-size:var(--l);
  line-height:1.2;
  font-family:"Canela Medium";
}
h1 span:nth-child(n+2){
  display:block;
  font-size:var(--s);
}
/* h1 .more{
  margin-top:var(--s);
  font-weight:;
  font-size:var(--s);
  font-family:;
} */
.cv h2,.recipe h2{
  font-size:var(--s);
  font-weight:300;
  font-family:"Canela Deck Light";
}
.cv section section *{font-family:var(--font-caption)}
.cv i{
  font-style:normal;
  font-weight:400;
}
.cv strong{font-weight:600}
/* .cv mark{
  background-color:transparent;
  font-weight:;
  font-size:;
  font-family:;
} */
.recipe>ol{
  font-weight:600;
  font-size:var(--xs);
  font-family:var(--font-caption);
}
.recipe>ol ul{
  font-weight:400;
  font-size:var(--xs);
  font-family:var(--font-caption);
}
/* header button{
  border-width:0;
  background-color:transparent;
  font-variant-caps:small-caps;
  font-weight:400;
  font-size:var(--xs);
  font-family:var(--font-caption);
} */
.cs nav button{
  padding:1ex;
  /* padding:.618ex;
  border-width:0 0 .382ex 0;
  background-color:transparent; */
  font-weight:300;
  font-size:var(--s);
  font-family:"Canela Text Light";
}
.cs h2{
  font-weight:400;
  font-size:var(--m);
  font-family:"Canela Text Regular No 2";
}
.overview{
  font-weight:400;
  font-size:var(--xs);
  font-family:"JAF Bernino Sans Regular";
}
h3{
  font-weight:300;
  font-size:var(--s);
  font-family:"Canela Deck Light";
}
h4{
  font-weight:700;
  font-size:var(--xs);
  font-family:"JAF Bernino Sans Bold";
}
h5{}
p{
  max-width:55ch;
  font-weight:400;
  font-family:"JAF Bernino Sans Regular";
}
.cs strong{
  font-weight:300;
  font-size:var(--s);
  font-family:"Canela Text Light";
}
abbr{text-decoration:none}
.smallcaps{font-variant:small-caps}

/* ins,
aside,
.less,.more,
.print-cv, */
.cellar,.mofad,.thesis,.mm
{display:none}

@media(max-width:31.25em){
  /* mobile < 500px < desktop */

}
@media(min-width:125em){
  /* desktop < 2000px < monitor */
  html,svg.flow{
    /* max-width:80vw; */
  }
}
