/***************************************************************
These styles are subject to the following license agreement(s):

http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/lipton-letter-design
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/plau
http://store.typenetwork.com/cart/eula/plau
http://store.typenetwork.com/cart/eula/plau
http://store.typenetwork.com/cart/eula/plau
http://store.typenetwork.com/cart/eula/plau
http://store.typenetwork.com/cart/eula/plau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/plau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/plau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/font-bureau
http://store.typenetwork.com/cart/eula/lipton-letter-design
***************************************************************/

.menotextbolditalic {
    font-family: "Meno Text Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menotextbold {
    font-family: "Meno Text Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menotextitalic {
    font-family: "Meno Text It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menotextregular {
    font-family: "Meno Text Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menotextsemibolditalic {
    font-family: "Meno Text Semi Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menotextsemibold {
    font-family: "Meno Text Semi Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayblackitalic {
    font-family: "Meno Disp Bla It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplayblack {
    font-family: "Meno Disp Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplaybolditalic {
    font-family: "Meno Disp Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaybold {
    font-family: "Meno Disp Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplaycondensedblackitalic {
    font-family: "Meno Disp Cond Bla It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaycondensedblack {
    font-family: "Meno Disp Cond Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplaycondensedbolditalic {
    font-family: "Meno Disp Cond Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaycondensedbold {
    font-family: "Meno Disp Cond Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplaycondensedextrabolditalic {
    font-family: "Meno Disp Cond Ex Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaycondensedextrabold {
    font-family: "Meno Disp Cond Ex Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplaycondenseditalic {
    font-family: "Meno Disp Cond It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaycondensedlightitalic {
    font-family: "Meno Disp Cond Lt It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaycondensedlight {
    font-family: "Meno Disp Cond Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplaycondensedregular {
    font-family: "Meno Disp Cond Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplaycondensedsemibolditalic {
    font-family: "Meno Disp Cond Semi Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaycondensedsemibold {
    font-family: "Meno Disp Cond Semi Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayextrabolditalic {
    font-family: "Meno Disp Ex Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplayextrabold {
    font-family: "Meno Disp Ex Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayextracondensedblackitalic {
    font-family: "Meno Disp Ex Cond Bla It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplayextracondensedblack {
    font-family: "Meno Disp Ex Cond Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayextracondensedbolditalic {
    font-family: "Meno Disp Ex Cond Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.titlinggothicfbskylinebold {
    font-family: "Titling Gothic FB Skyline Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayextracondensedextrabolditalic {
    font-family: "Meno Disp Ex Cond Ex Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplayextracondensedextrabold {
    font-family: "Meno Disp Ex Cond Ex Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayextracondenseditalic {
    font-family: "Meno Disp Ex Cond It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplayextracondensedlightitalic {
    font-family: "Meno Disp Ex Cond Lt It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplayextracondensedlight {
    font-family: "Meno Disp Ex Cond Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayextracondensedregular {
    font-family: "Meno Disp Ex Cond Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayextracondensedsemibolditalic {
    font-family: "Meno Disp Ex Cond Semi Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplayextracondensedsemibold {
    font-family: "Meno Disp Ex Cond Semi Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayitalic {
    font-family: "Meno Disp It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaylightitalic {
    font-family: "Meno Disp Lt It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaylight {
    font-family: "Meno Disp Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayregular {
    font-family: "Meno Disp Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplaysemibolditalic {
    font-family: "Meno Disp Semi Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menodisplaysemibold {
    font-family: "Meno Disp Semi Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerblackitalic {
    font-family: "Meno Ban Bla It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerblack {
    font-family: "Meno Ban Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerbolditalic {
    font-family: "Meno Ban Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerbold {
    font-family: "Meno Ban Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannercondensedblackitalic {
    font-family: "Meno Ban Cond Bla It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannercondensedblack {
    font-family: "Meno Ban Cond Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannercondensedbolditalic {
    font-family: "Meno Ban Cond Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannercondensedbold {
    font-family: "Meno Ban Cond Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannercondensedextrabolditalic {
    font-family: "Meno Ban Cond Ex Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannercondensedextrabold {
    font-family: "Meno Ban Cond Ex Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannercondenseditalic {
    font-family: "Meno Ban Cond It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannercondensedlightitalic {
    font-family: "Meno Ban Cond Lt It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannercondensedlight {
    font-family: "Meno Ban Cond Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannercondensedregular {
    font-family: "Meno Ban Cond Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannercondensedsemibolditalic {
    font-family: "Meno Ban Cond Semi Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannercondensedsemibold {
    font-family: "Meno Ban Cond Semi Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerextrabolditalic {
    font-family: "Meno Ban Ex Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerextrabold {
    font-family: "Meno Ban Ex Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerextracondensedblackitalic {
    font-family: "Meno Ban Ex Cond Bla It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerextracondensedblack {
    font-family: "Meno Ban Ex Cond Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerextracondensedbolditalic {
    font-family: "Meno Ban Ex Cond Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerextracondensedbold {
    font-family: "Meno Ban Ex Cond Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerextracondensedextrabolditalic {
    font-family: "Meno Ban Ex Cond Ex Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerextracondensedextrabold {
    font-family: "Meno Ban Ex Cond Ex Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerextracondenseditalic {
    font-family: "Meno Ban Ex Cond It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerextracondensedlightitalic {
    font-family: "Meno Ban Ex Cond Lt It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerextracondensedlight {
    font-family: "Meno Ban Ex Cond Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerextracondensedregular {
    font-family: "Meno Ban Ex Cond Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerextracondensedsemibolditalic {
    font-family: "Meno Ban Ex Cond Semi Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerextracondensedsemibold {
    font-family: "Meno Ban Ex Cond Semi Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobanneritalic {
    font-family: "Meno Ban It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerlightitalic {
    font-family: "Meno Ban Lt It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannerlight {
    font-family: "Meno Ban Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannerregular {
    font-family: "Meno Ban Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menobannersemibolditalic {
    font-family: "Meno Ban Semi Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.menobannersemibold {
    font-family: "Meno Ban Semi Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcompressedmedium {
    font-family: "Titling Gothic FB Comp Med";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.tenezitalic {
    font-family: "Tenez It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.tenezlight {
    font-family: "Tenez Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.tenezbold {
    font-family: "Tenez Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.tenezregular {
    font-family: "Tenez Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.tenezblackitalic {
    font-family: "Tenez Bla It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.tenezbolditalic {
    font-family: "Tenez Bd It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.titlinggothicfbskylinethin {
    font-family: "Titling Gothic FB Skyline Thi";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbskylinelight {
    font-family: "Titling Gothic FB Skyline Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbskylineregular {
    font-family: "Titling Gothic FB Skyline Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbskylinestandard {
    font-family: "Titling Gothic FB Skyline Standard";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbskylinemedium {
    font-family: "Titling Gothic FB Skyline Med";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.tenezblack {
    font-family: "Tenez Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbskylineblack {
    font-family: "Titling Gothic FB Skyline Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcompressedthin {
    font-family: "Titling Gothic FB Comp Thi";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcompressedlight {
    font-family: "Titling Gothic FB Comp Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcompressedregular {
    font-family: "Titling Gothic FB Comp Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcompressedstandard {
    font-family: "Titling Gothic FB Comp Standard";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.tenezlightitalic {
    font-family: "Tenez Lt It";
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

.titlinggothicfbcompressedbold {
    font-family: "Titling Gothic FB Comp Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcompressedblack {
    font-family: "Titling Gothic FB Comp Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcondensedthin {
    font-family: "Titling Gothic FB Cond Thi";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcondensedlight {
    font-family: "Titling Gothic FB Cond Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcondensedregular {
    font-family: "Titling Gothic FB Cond Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcondensedstandard {
    font-family: "Titling Gothic FB Cond Standard";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcondensedmedium {
    font-family: "Titling Gothic FB Cond Med";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcondensedbold {
    font-family: "Titling Gothic FB Cond Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbcondensedblack {
    font-family: "Titling Gothic FB Cond Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnarrowthin {
    font-family: "Titling Gothic FB Nar Thi";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnarrowlight {
    font-family: "Titling Gothic FB Nar Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnarrowregular {
    font-family: "Titling Gothic FB Nar Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnarrowstandard {
    font-family: "Titling Gothic FB Nar Standard";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnarrowmedium {
    font-family: "Titling Gothic FB Nar Med";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnarrowbold {
    font-family: "Titling Gothic FB Nar Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnarrowblack {
    font-family: "Titling Gothic FB Nar Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnormalthin {
    font-family: "Titling Gothic FB Nrm Thi";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnormallight {
    font-family: "Titling Gothic FB Nrm Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnormalregular {
    font-family: "Titling Gothic FB Nrm Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnormalstandard {
    font-family: "Titling Gothic FB Nrm Standard";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnormalmedium {
    font-family: "Titling Gothic FB Nrm Med";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnormalbold {
    font-family: "Titling Gothic FB Nrm Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbnormalblack {
    font-family: "Titling Gothic FB Nrm Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbwidethin {
    font-family: "Titling Gothic FB Wd Thi";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbwidelight {
    font-family: "Titling Gothic FB Wd Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbwideregular {
    font-family: "Titling Gothic FB Wd Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbwidestandard {
    font-family: "Titling Gothic FB Wd Standard";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbwidemedium {
    font-family: "Titling Gothic FB Wd Med";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbwidebold {
    font-family: "Titling Gothic FB Wd Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbwideblack {
    font-family: "Titling Gothic FB Wd Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbextendedthin {
    font-family: "Titling Gothic FB Extd Thi";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbextendedlight {
    font-family: "Titling Gothic FB Extd Lt";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbextendedregular {
    font-family: "Titling Gothic FB Extd Reg";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbextendedstandard {
    font-family: "Titling Gothic FB Extd Standard";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbextendedmedium {
    font-family: "Titling Gothic FB Extd Med";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbextendedbold {
    font-family: "Titling Gothic FB Extd Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.titlinggothicfbextendedblack {
    font-family: "Titling Gothic FB Extd Bla";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.menodisplayextracondensedbold {
    font-family: "Meno Disp Ex Cond Bd";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}
